@charset "UTF-8";

/* COnfigurações Gerais */

* {
    padding: 0px;
    margin: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-shadow: 2px 2px 3px rgb(0, 0, 126);
    padding: 15px;
}